Source: sot-openhrp
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	       doxygen (>= 1.6.3),
	       pkg-config (>= 0.22),
	       libboost-dev (>= 1.33.1),
	       libboost-thread-dev (>= 1.33.1),
	       libjrl-mal-dev (>= 1.9.0.99),
	       libdynamic-graph-dev (>= 1.0.0.99),
	       libsot-core-dev (>= 1.0.0.99),
	       libjrl-walkgen-dev (>= 1.0.0.99),
	       libhrp2-10-optimized1.0.0.99 (>= 1.0.0.99),
	       openhrp3.0.5 (>= 3.0.5),
	       jrl-hrpsys3.0.1 (>= 3.0.1),
	       libomniorb4-dev (>= 4.1.2)
Standards-Version: 3.8.4
#Vcs-Git:
#Vcs-browser:
Section: libs
#Homepage:

Package: libsot-openhrp-dev
Section: libdevel
Architecture: any
Depends: libboost-dev (>= 1.33.1), libboost-thread-dev (>= 1.33.1), libjrl-mal-dev (>= 1.9.0.99), libdynamic-graph-dev (>= 1.0.0.99), libsot-core-dev (>= 1.0.0.99), libjrl-walkgen-dev (>= 1.0.0.99), jrl-hrpsys3.0.1 (>= 3.0.1), openhrp3.0.5 (>= 3.0.5), libsot-openhrp1.0.0.99 (= ${binary:Version}), ${misc:Depends}
Suggests: libsot-openhrp-doc
Description: the hierarchichal task solver
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains development files (headers and pkg-config file).


Package: libsot-openhrp1.0.0.99
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the hierarchichal task solver plug-in
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains the dynamic graph plug-ins and versioned shared
 libraries.


Package: libsot-openhrp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libdynamic-graph-doc
Description: documentation for the hierarchichal task solver
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains the Doxygen documentation.
