Source: sot-openhrp
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	       doxygen (>= 1.6.3),
	       pkg-config (>= 0.22),
	       libboost-dev (>= 1.33.1),
	       libboost-thread-dev (>= 1.33.1),
	       libjrl-mal-dev (>= 1.9.1),
	       libdynamic-graph-dev (>= 1.1.1),
	       libdg-middleware-dev (>= 1.2.1),
	       libsot-core-dev (>= 1.1.1),
       	       libsot-dynamic-dev (>= 1.1.1),	
	       libsot-pattern-generator-dev (>= 1.1.1),
	       libjrl-walkgen-dev (>= 1.1.1),
	       libhrp2-10-optimized-dev (>= 1.0.1),
	       libomniorb4-dev (>= 4.1.2),
	       hrpsys-hrp2jrl (>= 20110201),
	       hrpsys-hrp2laas (>= 20110201)
Standards-Version: 3.8.4
#Vcs-Git:
#Vcs-browser:
Section: libs
#Homepage:

Package: libsot-openhrp-dev
Section: libdevel
Architecture: i386
Depends: libboost-dev (>= 1.33.1), libboost-thread-dev (>= 1.33.1), libjrl-mal-dev (>= 1.9.1), libdynamic-graph-dev (>= 1.1.1), libdg-middleware-dev (>= 1.2.1), libsot-core-dev (>= 1.1.1), libsot-dynamic-dev (>= 1.1.1), libsot-pattern-generator-dev (>= 1.1.1), libjrl-walkgen-dev (>= 1.1.1), libhrp2-10-optimized-dev (>= 1.0.1), hrpsys-hrp2jrl (>= 20110201), hrpsys-hrp2laas (>= 20110201), libsot-openhrp-dev (= ${binary:Version}), ${misc:Depends}
Suggests: libsot-openhrp-doc
Description: the hierarchichal task solver
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains development files (headers and pkg-config file).


Package: libsot-openhrp1.1.1
Architecture: any
Depends: libboost-dev (>= 1.33.1), libboost-thread-dev (>= 1.33.1), libdynamic-graph-dev (>= 1.1.1), libdg-middleware (>= 1.2.1), libsot-core (>= 1.1.1), libsot-dynamic (>= 1.1.1), libsot-pattern-generator (>= 1.1.1), libjrl-walkgen(>= 1.1.1), libhrp2-10-optimized (>= 1.0.1), hrpsys-hrp2jrl (>= 20110201), hrpsys-hrp2laas (>= 20110201), libsot-openhrp ${shlibs:Depends}, ${misc:Depends}
Description: the hierarchichal task solver plug-in
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains the dynamic graph plug-ins and versioned shared
 libraries.


Package: libsot-openhrp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libdynamic-graph-doc
Description: documentation for the hierarchichal task solver
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
 .
 This package contains the Doxygen documentation.

Package: libsot-openhrp-dbg
Architecture: any
Section: debug
Priority: extra
Depends:  libsot-core (= 1.1.1)
Description: debugging symbols for libsot-openhrp
 The stack of tasks provides a hierarchical task solver as a dynamic
 graph plug-in. It allows the realization of complex robotics tasks.
  .
 This package contains the debugging symbols for libsot-openhrp.